<%- include('header') %>
<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
  <script src="https://kit.fontawesome.com/619cf0717e.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card" style="margin-top:50px">
          <div class="card-header alert-success">
            <h3>Edit Password Details</h3>
          </div>
          <div class="card-body">
            <form name="my-form" action="/password-detail/edit/<%= record._id %>" method="POST">
              <% if(success!=''){ %>
              <div class="alert alert-success" role="alert">
                <%= success %>
              </div>
              <% } %>
              <div class="form-group row">
                <div class="col-md-12">
                  <select class="form-control" name="pass_cat">
                    <option value="">Choose Password Category</option>
                    <% if(records.length>0){
                        records.forEach(function(row){
                    %>
                    <option value="<%=row.password_category%>" <% if(row.password_category==record.password_category){ %> selected <% } %>><%=row.password_category%></option>
                    <%
                  }) }
                       %>

                  </select>
                </div>
              </div>
              <input type="hidden" name="id" class="form-control" value="<%= record._id%>">
              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" name="project_name" class="form-control" placeholder="Enter Your Project Name" value="<%= record.project_name%> ">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="pass_details" id="editor1" class="form-control" placeholder="Enter Password Details" rows="5" cols="80"> <%= record.password_detail%></textarea>
                </div>
              </div>

              <div class="col-md-12">
                <button type="submit" name="submit" value="submit" class="btn btn-block btn-primary">
                  ADD PASSWORD
                </button>
              </div>
              <p class="mt-2"><a href='/view-all-password'>View All Password List</a> </p>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    CKEDITOR.replace('editor1');
  </script>

</body>

</html>