<%- include('header') %>
<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.7/js/tether.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/619cf0717e.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="container">
    <h1 class="text-center my-5">View Password List</h1>
    <div class="row">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Password Category Name</th>
            <th>Project Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <% if(records.length>0){
          records.forEach(function(row){ %>

        <tr>
          <td><%= row.password_category %></td>
          <td><%= row.project_name%></td>
          <td>
            <button type="button" class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#exampleModal<%= row._id %>">
              <i class="fa fa-eye"></i>
            </button>&nbsp;
            <a href="/password-detail/edit/<%= row._id %>" class="btn btn-sm btn-primary"> <i class="fa fa-edit"></i> </a>&nbsp;
            <a href="/password-detail/delete/<%= row._id %>" class="btn btn-sm btn-danger" onclick="return confirm('Are you Sure?')"><i class="fa fa-trash-alt"></i></a></td>
        </tr>


        <div class="modal fade" id="exampleModal<%= row._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><%= row.project_name %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%- row.password_detail %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <% }) }%>
      </table>

      <% if (pages > 0) { %>
      <nav aria-label="...">
        <ul class="pagination">
          <% if (current == 1) { %>
          <li class="page-item disabled"><a class="page-link">Previous</a></li>
          <% } else { %>
          <li><a class="page-link" href="/view-all-password/1">Previous</a></li>
          <% } %>
          <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
          <% if (i !== 1) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %>
          <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
          <% if (i == current) { %>
          <li class="page-item active"><a class="page-link"><%= i %></a></li>
          <% } else { %>
          <li><a class="page-link" href="/view-all-password/<%= i %>"><%= i %></a></li>
          <% } %>
          <% if (i == Number(current) + 4 && i < pages) { %>
          <li class="page-item disabled"><a class="page-link">...</a></li>
          <% } %>
          <% } %>
          <% if (current == pages) { %>
          <li class="page-item disabled"><a class="page-link">Next</a></li>
          <% } else { %>
          <li><a class="page-link" href="/view-all-password/<%= pages %>">Next</a></li>
          <% } %>
        </ul>
      </nav>
      <% } %>

    </div>
  </div>

</body>

</html>